In [1]:
import pandas as pd
dataset = pd.read_csv("NBA.csv")

In [2]:
dataset.ix[:5]

c:\users\quekai\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,team,W/L,Strk,Home,Away,Day,Night,Div,Conf
0,Indiana,40-40,\r\n W3,28-12,12-27,3-0,37-40,8-8,24-26
1,Philadelphia,28-52,\r\n L6,17-23,11-29,3-3,25-49,7-8,19-31
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brooklyn,20-60,\r\n W1,13-28,7-32,2-5,18-55,3-12,11-39
4,Boston,51-29,\r\n W1,28-11,23-18,4-4,47-25,10-5,34-16
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN